body {
  background-color: rgb(108, 114, 114);
}

.container {
  
  margin: auto;
  width: 50%;
  border: 2px solid #060a00;
  background-color: #b7bdbc;
}

.add-btn {
  float: right;
  background-color: rgb(252, 10, 10);
  color: #ffffff;
}